# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

### Gradle ###
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Manel_bot

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Compiled class file
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

